{% extends "base.html" %}
{% load static %}

{% block content %}
<p>&nbsp;&nbsp;&nbsp;</p>
<!--<h5>XCN白皮书</h5>-->
<!--<ul>-->
<!--    <li><a href="{% static '/files/mbc-scheme-rev3-en.pdf' %}">XCN英文白皮书</a></li>-->
<!--    <li><a href="{% static '/files/mbc-scheme-rev3-cn.pdf' %}">XCN中文白皮书</a></li>-->
<!--</ul>-->
<!--<br>-->
<div class="intro">
    <h3>简介</h3>
    <p style="font-size:14px;color:#333;">
        氪石币发行于2014年7月27号，是第一款采用迷你区块链的加密货币，特点是能够极大减少后期区块同步慢的问题。氪石币（Cryptonite），货币代码：XCN。名字和来自超人颗星的氪石Kryptonite同音，故取名氪石币。XCN
        采用独创的 M7 PoW 算法，平均出块时间60秒，每块包含243个币，货币总量18.4亿枚。coinmarketcap链接：<a href="https://coinmarketcap.com/currencies/cryptonite/">https://coinmarketcap.com/currencies/cryptonite/</a></p>
</div>
{% endblock %}